<div class="row justify-content-md-center">
  <div class="col-9">
    <div id="my-card" class="card border-secondary">
      <div id="my-card-body" class="card-body">
        <table class="table ">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Edit</th>
              <th>Tasks</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% if @lists.any? %>
              <% @lists.each_with_index do |list, i| %>
                <tr>
                  <th scope="row"><%= i+1 %></th>
                  <th><%= list.name %></th>
                  <th><a href="/lists/<%= list.id %>/view_taks"><button type=button class="btn btn-block btn-info">View</button></a></th>
                  <th><a href="/lists/<%= list.id %>/edit"><button type="button" class="btn btn-block btn-warning">Update</button></a></th>
                  <th>
                    <form action="/lists/<%= list.id %>/delete" method="post">
                      <input name="_method" type="hidden" value="delete"/>
                      <button type="submit" class="btn btn-block btn-danger">Delete</button>
                    </form>
                  </th>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-transparent border-secondary">
        <a href="/lists/add_list"><button type="button" class="btn btn-block btn-success">Add a List</button></a>
      </div>
    </div>
  </div>
</div>
